@import url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff");

* {
  font-family: "Pretendard-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* html,
body {
  overflow-x: hidden;
} */
